<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SET_WALLPAPER" />

    <application
        android:name=".modules.main.ResplashApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ResplashClone">
        <activity
            android:name=".modules.search.SearchActivity"
            android:exported="false"/>
        <activity
            android:name=".modules.collections.detail.CollectionDetailActivity"
            android:exported="false" />
        <activity
            android:name=".modules.photo.zoom.PhotoZoomActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.ResplashClone.PhotoZoom" />
        <activity
            android:name=".modules.photo.detail.PhotoDetailActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.ResplashClone.PhotoDetail" />
        <activity
            android:name=".modules.main.MainActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".modules.splashscreen.SplashScreenActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.App.Starting">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>